@{
    ViewBag.Title = "No data found";
}


<section id="content_wrapper">
    <section id="content" class="table-layout animated fadeIn">
        <div class="tray tray-center">
            <div class="mw1000 center-block">
                <div class="admin-form">
                    <div class="panel panel-default">
                        <div class="panel-heading">Data Not Found</div>
                        <div class="panel-body">
                            <p class="text-center">@ViewBag.Message</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>