
@{
    ViewBag.Title = "_GridView";
    Layout = null;
}

    <div id="myPager" style="margin-top:17px;">
        
      <table class="primary">
          <tr>
              <td class="text-danger">This Data Does Not Exist In Record !!!</td>
          </tr>
      </table>

    </div>

