<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="Model1" connectionString="data source=DESKTOP-OBEE8IC\MSSQLSERVER01;initial catalog=MMS_29112019;persist security info=true;Integrated Security=true;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
    <add name="MMSEntities" connectionString="metadata=res://*/dal.model1.csdl|res://*/dal.model1.ssdl|res://*/dal.model1.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=DESKTOP-OBEE8IC\MSSQLSERVER01;initial catalog=MMS_29112019;persist security info=true;integrated Security=true;multipleactiveresultsets=true;application name=entityframework&quot;" providerName="system.data.entityclient" />-->
    <!--<add name="Model1" connectionString="data source=192.169.244.173;initial catalog=MMS_TEST_1;persist security info=true;user id=sa;password=System@0987;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
    <add name="MMSEntities" connectionString="metadata=res://*/dal.model1.csdl|res://*/dal.model1.ssdl|res://*/dal.model1.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=192.169.244.173;initial catalog=MMS_TEST_1;persist security info=true;user id=sa;password=System@0987;multipleactiveresultsets=true;application name=entityframework&quot;" providerName="system.data.entityclient" />-->
    <!--<add name="Model1" connectionString="data source=pramod;initial catalog=ACILMMS_19_Aug;persist security info=true;Integrated Security=true;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
    <add name="MMSEntities" connectionString="metadata=res://*/dal.model1.csdl|res://*/dal.model1.ssdl|res://*/dal.model1.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=pramod;initial catalog=ACILMMS_19_Aug;persist security info=true;Integrated Security=true;multipleactiveresultsets=true;application name=entityframework&quot;" providerName="system.data.entityclient" />-->
    <add name="Model1" connectionString="data source=52.66.245.87;initial catalog=MMS_TEST_1704;persist security info=true;user id=adminsita;password=Sphone@0987;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
    <add name="MMSEntities" connectionString="metadata=res://*/dal.model1.csdl|res://*/dal.model1.ssdl|res://*/dal.model1.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=52.66.245.87;initial catalog=MMS_TEST_1704;persist security info=true;user id=adminsita;password=Sphone@0987;multipleactiveresultsets=true;application name=entityframework&quot;" providerName="system.data.entityclient" />
    <add name="PMCConStr" connectionString="data source=52.66.245.87;initial catalog=SITA_PMC_TEST;persist security info=true;user id=adminsita;password=Sphone@0987;" providerName="system.data.sqlclient" />
   
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="51200" />
    <customErrors mode="Off" defaultRedirect="~/ErrorPage/404.html">
      <error statusCode="404" redirect="~/ErrorPage/404.html" />
    </customErrors>
     <!--<customErrors mode="On" ></customErrors>-->
    <sessionState mode="InProc" timeout="30" />
    <authentication mode="Forms">
      <forms loginUrl="~/MyAccount/Login" timeout="288000" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <!--<modules>
      <remove name="FormsAuthentication" />
    </modules>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
    <security allowRemoteAccess="true" />
  </elmah>
</configuration>