@model MMS_P.ViewModels.PagedIndentAllRecordModel
  
@{
    Layout = null;
}

<style>
    .aas {
        background-color:#4A89DC;
        color:white;
        cursor:crosshair;
    }
</style>

<div id="myPager" style="margin-top:17px;" class="primary">


    @{
        var grid = new WebGrid(
                        canPage: true,
                        rowsPerPage: Model.PageSize,
                        canSort: true,
                        ajaxUpdateContainerId: "grid");

        grid.Bind(Model.Indent2, rowCount: Model.TotalRows, autoSortAndPage: false);
        grid.Pager(WebGridPagerModes.All);

        @grid.GetHtml(htmlAttributes: new { id = "grid" },
            fillEmptyRows: false,
             tableStyle: "webgrid-table",
              headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style",
            mode: WebGridPagerModes.All,
                              columns: grid.Columns(
                //grid.Column("ProjectName", header: "Project Name"),
                                               //grid.Column("IndentNo", header: "Indent No.", canSort:false),
                                                         grid.Column("EmployeeName", header: "Forword To", canSort: false),
                                                         grid.Column("ItemGroupName", header: "ItemGroup Name", canSort: false),
                                                         grid.Column("ItemName", header: "Item Name", canSort: false),
                                                         grid.Column("UnitID", header: "Unit", canSort: false),
                                                         grid.Column("Make", header: "Make", canSort: false),
                                                         grid.Column("PartNo", header: "PartNo", canSort: false),
                                                         grid.Column("Quantity", header: "Quantity", canSort: false),
                                                         grid.Column("BalanceQuantity", header: "Balance Quantity", canSort: false),
                                                         grid.Column("IssueQuantity", header: "Issue Quantity", canSort: false),
                              grid.Column("CreatedDate", header: "Date", format: @<text>@item.CreatedDate.ToString("dd/MM/yy")</text>, canSort:false)
                                                         //grid.Column("Status", header: "Status", canSort: false)


                                     ));
}


</div>

