 @model MMS_P.ViewModels.PagedGateEntryChildModel

@{
    ViewBag.Title = "_GridView";
    Layout = null;
}
<style type="text/css">
    .user {
        font-size: 10px;
    }

    .user1 {
        font-size: 10px;
    }
</style>
  <label>All Receive  Item (LP=Local Purchase   ,IPO= Purchase By Indent Order)</label>
    <div id="myPager" style="margin-top:17px;">
        @{
            var grid = new WebGrid(
                            canPage: true,
                            rowsPerPage: Model.PageSize,
                            canSort: true,
                            ajaxUpdateContainerId: "grid");

            grid.Bind(Model.Child, rowCount: Model.TotalRows, autoSortAndPage: false);
            
            grid.Pager(WebGridPagerModes.All);

            @grid.GetHtml(htmlAttributes: new { id = "grid" },
            fillEmptyRows: false,
            tableStyle: "table table-bordered table-hover",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
                                            grid.Column("Date", format: @<text> @item.Date.ToString("dd/MM/yyyy")</text>),
                                            //grid.Column(String.Format("{0:MM/dd/yyyy}", "Date"), header: "Date"),
                                             grid.Column("GateEntryNo", header: "GateEntry No.", style: "user"),
                                             grid.Column("Vendor", header: "Vendor/DispatchTo/ReceiveBy", style: "user"),
                                             grid.Column("Status", header: "Type"),
                                             grid.Column("StatusTypeNo", header: "(LPo/Tr)-No.", style: "user"),
                                             grid.Column("ItemGroup", header: " Group"),
                                             grid.Column("Item", header: "Item"),
                                             grid.Column("ReceiveQty", header: "Qty") ,
                                                                                grid.Column("Amount", header: "Amount", style: "user")


                                                                                                                                                     ));
}


    </div>

