@model List<MMS.Models.AmountDetailsViewModel>

<div style="min-height:400px;">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>SNo.</th>
                <th>Quantity</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@item.Qty</td>
                    <td>@item.Rate</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="text-align:right;">Total: @decimal.Round(ViewBag.Total, 2)</div>

</div>
